.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todos {
  height: auto;
  width: 700px;
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  background: #F5F5F5;
}

.header {
  display: flex;
  justify-content: center;
  font-family: $font-roboto;
  font-weight: 100;
  font-size: 80px;
  color: #E9D9D8;
}
